.*.swp
log/*
log/**/*.log
vendor/bundler_gems/*
vendor/cache/*
coverage/*
test/*
.bundle/*
.DS_Store
config/database.yml
config/facebooker.yml
app/.DS_Store
app/views/.DS_Store
config/.DS_Store
db/.DS_Store
lib/.DS_Store
public/.DS_Store
script/.DS_Store
vendor/.DS_Store
vendor/plugins/.DS_Store
public/stylesheets/scaffold.css
public/stylesheets/layout.css
public/stylesheets/backstage.css
public/stylesheets/all.css
tmp/*
tmp/*/*
tmp/*/*/*
.sass-cache/
public/coverage/*
rerun.txt

config/environments/atrus.rb
