/*
 * This is a manifest file that'll be compiled into application.css, which will 
 * include all the files listed below.
 *= require_self
 *= require_tree .
 */

$bg_color_main: #111;
$bg_color_sub:  #333;
$text_color:    #CCC;

body {
  background-color: $bg_color_main;
  font-family: 'helvetica', sans-serif;
  color: $text_color;
}
nav {
  height: 30px;
  background-color: #444;
  position: fixed;
  padding-right: 20px;
  width: 100%;
  right: 0;
  top: 0;
  box-shadow: 0 0 10px black;
  .user_control { 
    float: left;
    margin-left: 30px;
  }
}
article {
  margin-top: 55px;
}
.nopaste { 
  background-color: $bg_color_sub;
  width: 950px;
  box-shadow: 0 0 2px white;
  border-radius: 3px;
  margin: 75px auto;
  padding: 15px;
  margin: 40px auto;
}
h2 {
  font-weight: normal;
  border-bottom: 2px solid #666;
  color: white;
  font-size: 28px;
  margin: 20px 0px 5px;
}
h3 {
  font-weight: normal;
  margin: 0 0 10px 20px;
  font-size: 14px;
  font-style: italic;
}
a {
  color: #999;
  &:hover {
    color: darkred;
  }
}
.link { 
  margin: 6px 10px;
  float: right;
  background-repeat: no-repeat;
  a {
    padding-left: 24px;
    text-decoration: none;
    color: white; 
  }
}
.clear { 
  background-color: none;
  box-shadow: 0 0 0 white;
}
.fork    { background-image: url('link_fork.png'); }
.home    { background-image: url('link_home.png'); }
.new     { background-image: url('link_new.png'); }
.raw     { background-image: url('link_raw.png'); }
.login   { background-image: url('link_user.png'); }
.logout  { background-image: url('link_logout.png'); }
.account { background-image: url('link_edit.png'); }
.signup  { background-image: url('link_signup.png'); }
