/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$bg_color_main: #111; 
$bg_color_sub:  #333; 
$text_color:    #CCC;

body { 
  background-color: $bg_color_main;
  font-family: 'helvetica', sans-serif;
  color: $text_color;
}

nav { 
  height: 30px;
  background-color: #444;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 10px black;
  ul { 
    margin: 5px 0;
    list-style: none;
    li { 
      display: inline;
    }
  }
}

article {  
  background-color: $bg_color_sub; 
  width: 700px;
  box-shadow: 0 0 2px white;
  border-radius: 3px;
  margin: 75px auto;
  padding: 15px;
  margin: 40px auto;
}

a { 
  color: #999;
  &:hover { 
    color: darkred;
  } 
}

.nopaste_form { 
  textarea { 
    width: 665px;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
  }
}
