.pastes { 

}

.paste {
  width: 800px;
  margin: auto;
  .CodeRay { 
    background-color: #111;
    border-radius: 2px;
    margin: 15px auto;
    padding: 3px;
    box-shadow: 0 0 10px black;
    .line-numbers { 
      padding-right: 10px;
      a { text-decoration: none; }
    }
    .code { 
      width: 800px; 
      pre { 
        width: 750px;
        overflow: scroll;
      } 
      vertical-align: top;
    }
  }
}

.paste_form {
  width: 885px; 
  margin: 0 auto;
  .field {
    height: 60px;
    width: 275px;
    float: left;
    margin: 3px 10px;
    input {
      border-radius: 3px;
      border: 1px solid grey; 
      border-image: initial;
      padding: 4px 0px 4px 10px;
      margin: 0;
      outline: none;
      font-size: 16px;
      width: 265px;
      height: 20px;
    }
    select {
      border-radius: 3px;
      border: 1px solid grey; 
      border-image: initial;
      padding: 4px 4px 4px 10px;
      margin: 0;
      outline: none;
      font-size: 16px;
      width: 265px;
      height: 30px;
    }
    label { 
      position: relative;
      top: 0px;
      left: 5px;
      bottom: 1px;
      right: 1px;
      display: block;
      width: 260px;
      height: 20px;
      font-size: 16px;
      padding: 4px;
      color: #888;
      text-shadow: none;
    }
  }
  textarea { 
    width: 835px;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
  }
  input[type="submit"] { 
    border: 0;
    background: #222;
    color: white;
    font-size: 22px;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    &:hover { 
      box-shadow: 0 0 2px darkred;
      background-color: darkred;
      text-shadow: 0 0 5px black;
      cursor: pointer;
    }
  }
  input[type="submit"].private { 
    background-image: url('field_lock.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 5px 2px;
  }
}

