%div[paste]
  .info 
    = paste.author || 'Anonymous'
    pasted 
    = link_to paste.description || 'and Untitled Paste', paste
    #{time_ago_in_words(paste.created_at)} ago.
  .actions 
    = link_to 'Edit', edit_paste_path(paste)
%br 

