%h1 Listing Pastes

%table>
  %tr>
    %th id 
    %th created
    %th
    %th
    %th 

  - @pastes.each do |paste|
    %tr
      %td= link_to 'Show', paste 
      %td= link_to 'Edit', edit_paste_path(paste)
      %td= link_to 'Destroy', paste, method: :delete, data: { confirm: 'Are you sure?' }
%br 

= link_to 'New Paste', new_paste_path 
